body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
}
  
.pimg1, .pimg2, .pimg3{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  
    background-attachment:fixed;
}
  
.pimg1{
    background-image:url('/img/sky.jpg');
    min-height:100%;
}
  
.pimg2{
    background-image:url('/img/keyboard.jpg');
    min-height:370px;
}
  
.pimg3{
    background-image:url('/img/pc.jpg');
    min-height:400px;
}
  
.section{
    text-align:center;
    padding:50px 80px;
}

  
  
.section-light{
    background-color:#f4f4f4;
    color:#666;
}
  
.section-dark{
    background-color:#282e34;
    color:#ddd;
}
  
.ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
}

.name{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 55px;
    letter-spacing: 7px;
}

.border1{
    background:rgb(8, 8, 8);
    opacity: 0.6;
    color: white;
    padding: 10px 30px;
}
  
.ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
}
  
.ptext .border.trans{
    background-color:transparent;
}

.cvbutton{
    position:absolute;
    color: white;
    text-align: center;
    background-color: rgb(8, 8, 8);
    opacity: 0.5;
    border-radius: 20px;
    margin: 0;
    position: absolute;
    top: 57%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

section img{
    width: 100%;
    max-width: 500px;
    padding: 30px;
}

/* education */

.education{
    position:absolute;
    width:100%;
    text-align:center;
    color:#000;
    font-size: 30px;
    letter-spacing:2px;
    padding: 55px;
  }

.edu{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 19px;
}

.edu.deg{
    top: 35%;
}

.edu.maj{
    top: 46.5%;
}

.edu.uni{
    top: 57.8%;
}

.edu.year{
    top: 69.3%
}

/* end of education */




@media (max-width: 850px){
    section .container{
        grid-template-columns: 1fr;
    }
}
  
  @media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
      background-attachment:scroll;
    }
  }
  